/* formatting the body design */
body {background-color:black;font-family:arial;color:white}
/* formatting the h1 design */
h1{color:grey;font-family:verdana}
/* formatting the class maindiv design */
.maindiv {
    background-color:white;
    color:black;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
    width: 500px;
}
/* formatting the paddings of various label */
label.aa{
    padding-right: 55px;
}
label.bb{
    padding-right: 75px;
}
label.cc{
    padding-right: 25px;
}

.child_div{
    padding-left: 80px;
}
span{
    background-color: rgb(251, 255, 0);
    width: fit-content;

}
p{
    margin: 0%;
}
span#rate_val{
    background-color: white;
}