body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

.maindiv {
    background-color:white;
    color:black;
    
    padding: 20px;
    border-radius: 25px;
    margin: auto;
    width: 500px;
}
.child_div{
    padding-left: 40px;
}
.bee {
    padding-top: 20px;
}